<h1>Sign In</h1>

<form [formGroup]="signInForm" (ngSubmit)= "()" novalidate >
    <div class="form-group">
        Enter Your Profile Email Address<br>
        <input type="text" name="enteremail" placeholder="your-email-address@domain.com" formControlName="profileEmailAddress">
    </div>
    <div class="form-group">
        Password<br>
        <input type="text" name="enterpassword" placeholder="your-password" formControlName="profilePassword">
    </div>
    <button type="submit" class="btn btn-block btn-warning mb-3">Sign In</button>
</form>