<navbar>
</navbar>
<!--USERS-->
<div class="container">
	<h1 class="about-title">About Us</h1>
	<br>
	<div class="row">
		<div class="col-lg-4 col-sm-6 col-xs-12">
			<img class="img-fluid d-block mx-auto mb-4 background-card-img" src="https://www.fillmurray.com/300/300" alt="bill murray">
		</div>
		<div class="card mb-4 col-lg-8 col-sm-6 col-xs-12 background-card card-container">
			<h3 class="card-title">Manuel Escobar III</h3>
			<p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the indust</p>
			<a href="https://github.com/manuel-kraken-code" class="about-link" target="_blank"><span class="about-link-text">GitHub</span></a>
			<a href="https://escobar505.com" class="about-link" target="_blank"><span class="about-link-text">Personal Site</span></a>
		</div>
	</div>
</div>

<div class="about-spacer"></div>

<div class="container">
	<div class="row">
		<div class="col-lg-4 col-sm-6 col-xs-12">
			<img class="img-fluid d-block mx-auto mb-4 background-card-img" src="https://www.fillmurray.com/300/300" alt="bill murray">
		</div>
		<div class="card mb-4 col-lg-8 col-sm-6 col-xs-12 background-card card-container">
			<h3 class="card-title">Marlon McPherson</h3>
			<p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the indust</p>
			<a href="https://github.com/mmcph" class="about-link" target="_blank"><span class="about-link-text">GitHub</span></a>
			<a href="https://codingchronicle.com/" class="about-link" target="_blank"><span class="about-link-text">Personal Site</span></a>
		</div>
	</div>
</div>

<div class="about-spacer"></div>

<div class="container">
	<div class="row">
		<div class="col-lg-4 col-sm-6 col-xs-12">
			<img class="img-fluid d-block mx-auto mb-4 background-card-img" src="https://www.fillmurray.com/300/300" alt="bill murray">
		</div>
		<div class="card mb-4 col-lg-8 col-sm-6 col-xs-12 background-card card-container">
			<h3 class="card-title">Yvette Johnson</h3>
			<p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the indust</p>
			<a href="https://github.com/yvejr" class="about-link" target="_blank"><span class="about-link-text">GitHub</span></a>
			<a href="https://yvette.io" class="about-link" target="_blank"><span class="about-link-text">Personal Site</span></a>
		</div>
	</div>
</div>

<div class="about-spacer"></div>

<div class="container">
	<div class="row">
		<div class="col-lg-4 col-sm-6 col-xs-12">
			<img class="img-fluid d-block mx-auto mb-4 background-card-img" src="https://www.fillmurray.com/300/300" alt="bill murray">
		</div>
		<div class="card mb-4 col-lg-8 col-sm-6 col-xs-12 background-card card-container">
			<h3 class="card-title">G Cordova</h3>
			<p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the indust</p>
			<a href="https://github.com/G-Cordova" class="about-link" target="_blank"><span class="about-link-text">GitHub</span></a>
			<a href="https://apex-development.com/" class="about-link" target="_blank"><span class="about-link-text">Personal Site</span></a>
		</div>
	</div>
</div>
<div class="formSpacer"></div>
<footer>
</footer>