
<!--USERS-->
<div class="container">
	<h1 class="about-title">About Us</h1>
	<br>
	<div class="row">
		<div class="col-lg-4 col-sm-6 col-xs-12">
			<img class="img-fluid d-block mx-auto mb-4 background-card-img" src="../../images/GTO1970.jpg" alt="bill murray">
		</div>
		<div class="card mb-4 col-lg-8 col-sm-6 col-xs-12 background-card card-container">
			<h3 class="card-title">Manuel Escobar III</h3>
			<p class="card-text">I have been interested in coding for about six months. I decided to join CNM Ingenuity’s Deep Dive Coding bootcamp to gain more skills and enter the coding world as a junior web developer. I got the opportunity to work on both the back and front end, and found that I enjoyed both. My hobbies include comics, film, art, and video games. I’m looking forward to expanding my development skills in the coming years.</p>
			<a href="https://github.com/manuel-kraken-code" class="about-link" target="_blank"><span class="about-link-text">GitHub</span></a>
			<a href="https://escobar505.com" class="about-link" target="_blank"><span class="about-link-text">Personal Site</span></a>
		</div>
	</div>
</div>
<div class="about-spacer"></div>

<div class="container">
	<div class="row">
		<div class="col-lg-4 col-sm-6 col-xs-12">
			<img class="img-fluid d-block mx-auto mb-4 background-card-img" src="../../images/mcm.png" alt="bill murray">
		</div>
		<div class="card mb-4 col-lg-8 col-sm-6 col-xs-12 background-card card-container">
			<h3 class="card-title">Marlon McPherson</h3>
			<p class="card-text">I’m a web developer and writer. I completed my web development certification at Deep Dive Coding, part of CNM’s Ingenuity program. This ten-week bootcamp-style course familiarized me with HTML, CSS, Javascript, Angular, Bootstrap, PHP, and mySQL, and prepared me to enter the industry as a full-stack developer. I graduated from UNM in 2015 with a bachelor’s in English and a minor in art studio. My language, communication, and design skills, combined with my newfound passion for coding, enable me to create sleek, professional web content for a variety of applications.</p>
			<a href="https://github.com/mmcph" class="about-link" target="_blank"><span class="about-link-text">GitHub</span></a>
			<a href="https://codingchronicle.com/" class="about-link" target="_blank"><span class="about-link-text">Personal Site</span></a>
		</div>
	</div>
</div>

<div class="about-spacer"></div>

<div class="container">
	<div class="row">
		<div class="col-lg-4 col-sm-6 col-xs-12">
			<img class="img-fluid d-block mx-auto mb-4 background-card-img" src="../../images/Yvette.png" alt="bill murray">
		</div>
		<div class="card mb-4 col-lg-8 col-sm-6 col-xs-12 background-card card-container">
			<h3 class="card-title">Yvette Johnson</h3>
			<p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the indust</p>
			<a href="https://github.com/yvejr" class="about-link" target="_blank"><span class="about-link-text">GitHub</span></a>
			<a href="https://yvette.io" class="about-link" target="_blank"><span class="about-link-text">Personal Site</span></a>
		</div>
	</div>
</div>

<div class="about-spacer"></div>

<div class="container">
	<div class="row">
		<div class="col-lg-4 col-sm-6 col-xs-12">
			<img class="img-fluid d-block mx-auto mb-4 background-card-img" src="../../images/IMG_4489.jpg" alt="bill murray">
		</div>
		<div class="card mb-4 col-lg-8 col-sm-6 col-xs-12 background-card card-container">
			<h3 class="card-title">G Cordova</h3>
			<p class="card-text">An ambitious & knowledge-hungry problem solver who holds the user/customer experience as the absolute highest priority. With having a great deal of experience throughout various industries, G’s value is offered through his ability to adjust and conquer any problem that is presented. As an individual who constantly thirsts for new knowledge and abilities; G has also gained management experience as a Lead Manager and Field Manager from the age of 17, along with Minor Project Management and Client Relations experience.</p>
			<a href="https://github.com/G-Cordova" class="about-link" target="_blank"><span class="about-link-text">GitHub</span></a>
			<a href="https://apex-development.com/" class="about-link" target="_blank"><span class="about-link-text">Personal Site</span></a>
		</div>
	</div>
</div>
<div class="formSpacer"></div>