	<form [formGroup]="categorySearchForm" (ngSubmit)="getMatchingTrucks();">
		<h1 class="category-title">Search by food type</h1>
		<button class="btn categoryButton" type="submit">Find Trucks</button>

		<div *ngIf="!truckResults.length === true; else trucksDisplay">

		<div class="container">


			<div class="categoryBG">
				<div *ngFor="let category of allCategories" class="categoryDiv"><input type="checkbox"
																											  title="categorySearchTerm"
																											  [id]="'category-' + category.categoryId"
																											  class="categorySearch"
																											  [value]="category.categoryId"
																											  (change)="setTacoTruckCategory($event)"><label
					[for]="'category-' + category.categoryId" class="categoryTerm">&nbsp;{{category.categoryName}}</label>
				</div>
			</div>


		</div>

			<!--ngIf div-->
		</div>

	</form>

	<div class="formSpacer"></div>

<ng-template #trucksDisplay>
	<div class="container">
		<div class="categoryBG">
			<div *ngFor="let truck of truckResults"><a routerLink="truck/:truckId" class="truck-text">{{truck.truckName}}</a></div>
		</div>
	</div>
</ng-template>