<h1 class="category-title">Search by food type</h1>

<form [formGroup]="categorySearchForm" (ngSubmit)="createNewTruckForm();">
<button class="btn categoryButton" type="submit">Find Trucks</button>
<div class="container">
	<div class="row">

		<div class="col-md-3 categoryBG">
			<div><input type="checkbox" title="categorySearchTerm" class="categorySearch" id="1"><label for="1" class="categoryTerm">&nbsp;African</label></div>
			<div><input type="checkbox" title="categorySearchTerm" class="categorySearch" id="2"><label for="2" class="categoryTerm">&nbsp;American</label></div>
			<div><input type="checkbox" title="categorySearchTerm" class="categorySearch" id="3"><label for="3" class="categoryTerm">&nbsp;Barbecue</label></div>
			<div><input type="checkbox" title="categorySearchTerm" class="categorySearch" id="4"><label for="4" class="categoryTerm">&nbsp;Bagels</label></div>
			<div><input type="checkbox" title="categorySearchTerm" class="categorySearch" id="5"><label for="5" class="categoryTerm">&nbsp;Brazilian</label></div>
			<div><input type="checkbox" title="categorySearchTerm" class="categorySearch" id="6"><label for="6" class="categoryTerm">&nbsp;Breakfast</label></div>
			<div><input type="checkbox" title="categorySearchTerm" class="categorySearch" id="7"><label for="7" class="categoryTerm">&nbsp;Burgers</label></div>
			<div><input type="checkbox" title="categorySearchTerm" class="categorySearch" id="8"><label for="8" class="categoryTerm">&nbsp;Burritos</label></div>
			<div><input type="checkbox" title="categorySearchTerm" class="categorySearch" id="9"><label for="9" class="categoryTerm">&nbsp;Cajun</label></div>
			<div><input type="checkbox" title="categorySearchTerm" class="categorySearch" id="10"><label for="10" class="categoryTerm">&nbsp;Caribbean</label></div>
			<div><input type="checkbox" title="categorySearchTerm" class="categorySearch" id="11"><label for="11" class="categoryTerm">&nbsp;Chicken</label></div>
			<div><input type="checkbox" title="categorySearchTerm" class="categorySearch" id="12"><label for="12" class="categoryTerm">&nbsp;Chinese</label></div>
			<div><input type="checkbox" title="categorySearchTerm" class="categorySearch" id="13"><label for="13" class="categoryTerm">&nbsp;Coffee</label></div>
			<div><input type="checkbox" title="categorySearchTerm" class="categorySearch" id="14"><label for="14" class="categoryTerm">&nbsp;Comfort Food</label></div>
			<div><input type="checkbox" title="categorySearchTerm" class="categorySearch" id="15"><label for="15" class="categoryTerm">&nbsp;Crepes</label></div>
			<div><input type="checkbox" title="categorySearchTerm" class="categorySearch" id="16"><label for="16" class="categoryTerm">&nbsp;Dessert</label></div>
			<div><input type="checkbox" title="categorySearchTerm" class="categorySearch" id="17"><label for="17" class="categoryTerm">&nbsp;Dinner</label></div>
		</div>
		<div class="col-md-3 categoryBG">
			<div><input type="checkbox" title="categorySearchTerm" class="categorySearch" id="18"><label for="18" class="categoryTerm">&nbsp;Donuts</label></div>
			<div><input type="checkbox" title="categorySearchTerm" class="categorySearch" id="19"><label for="19" class="categoryTerm">&nbsp;Eastern European</label></div>
			<div><input type="checkbox" title="categorySearchTerm" class="categorySearch" id="20"><label for="20" class="categoryTerm">&nbsp;European</label></div>
			<div><input type="checkbox" title="categorySearchTerm" class="categorySearch" id="21"><label for="21" class="categoryTerm">&nbsp;Fish</label></div>
			<div><input type="checkbox" title="categorySearchTerm" class="categorySearch" id="22"><label for="22" class="categoryTerm">&nbsp;Filipino</label></div>
			<div><input type="checkbox" title="categorySearchTerm" class="categorySearch" id="23"><label for="23" class="categoryTerm">&nbsp;French</label></div>
			<div><input type="checkbox" title="categorySearchTerm" class="categorySearch" id="24"><label for="24" class="categoryTerm">&nbsp;Fusion</label></div>
			<div><input type="checkbox" title="categorySearchTerm" class="categorySearch" id="25"><label for="25" class="categoryTerm">&nbsp;Greek</label></div>
			<div><input type="checkbox" title="categorySearchTerm" class="categorySearch" id="26"><label for="26" class="categoryTerm">&nbsp;Gyros</label></div>
			<div><input type="checkbox" title="categorySearchTerm" class="categorySearch" id="27"><label for="27" class="categoryTerm">&nbsp;Hot Dogs</label></div>
			<div><input type="checkbox" title="categorySearchTerm" class="categorySearch" id="28"><label for="28" class="categoryTerm">&nbsp;Ice Cream</label></div>
			<div><input type="checkbox" title="categorySearchTerm" class="categorySearch" id="29"><label for="29" class="categoryTerm">&nbsp;Indian</label></div>
			<div><input type="checkbox" title="categorySearchTerm" class="categorySearch" id="30"><label for="30" class="categoryTerm">&nbsp;Indonesian</label></div>
			<div><input type="checkbox" title="categorySearchTerm" class="categorySearch" id="31"><label for="31" class="categoryTerm">&nbsp;Italian</label></div>
			<div><input type="checkbox" title="categorySearchTerm" class="categorySearch" id="32"><label for="32" class="categoryTerm">&nbsp;Japanese</label></div>
			<div><input type="checkbox" title="categorySearchTerm" class="categorySearch" id="33"><label for="33" class="categoryTerm">&nbsp;Juice</label></div>
			<div><input type="checkbox" title="categorySearchTerm" class="categorySearch" id="34"><label for="34" class="categoryTerm">&nbsp;Kebabs</label></div>
		</div>
		<div class="col-md-3 categoryBG">
			<div><input type="checkbox" title="categorySearchTerm" class="categorySearch" id="35"><label for="35" class="categoryTerm">&nbsp;Korean</label></div>
			<div><input type="checkbox" title="categorySearchTerm" class="categorySearch" id="36"><label for="36" class="categoryTerm">&nbsp;Latin American</label></div>
			<div><input type="checkbox" title="categorySearchTerm" class="categorySearch" id="37"><label for="37" class="categoryTerm">&nbsp;Lunch</label></div>
			<div><input type="checkbox" title="categorySearchTerm" class="categorySearch" id="38"><label for="38" class="categoryTerm">&nbsp;Mediterranean</label></div>
			<div><input type="checkbox" title="categorySearchTerm" class="categorySearch" id="39"><label for="39" class="categoryTerm">&nbsp;Mexican</label></div>
			<div><input type="checkbox" title="categorySearchTerm" class="categorySearch" id="40"><label for="40" class="categoryTerm">&nbsp;Middle Eastern</label></div>
			<div><input type="checkbox" title="categorySearchTerm" class="categorySearch" id="41"><label for="41" class="categoryTerm">&nbsp;Native American</label></div>
			<div><input type="checkbox" title="categorySearchTerm" class="categorySearch" id="42"><label for="42" class="categoryTerm">&nbsp;New Mexican</label></div>
			<div><input type="checkbox" title="categorySearchTerm" class="categorySearch" id="43"><label for="43" class="categoryTerm">&nbsp;Organic</label></div>
			<div><input type="checkbox" title="categorySearchTerm" class="categorySearch" id="44"><label for="44" class="categoryTerm">&nbsp;Pancakes</label></div>
			<div><input type="checkbox" title="categorySearchTerm" class="categorySearch" id="45"><label for="45" class="categoryTerm">&nbsp;Pasta</label></div>
			<div><input type="checkbox" title="categorySearchTerm" class="categorySearch" id="46"><label for="46" class="categoryTerm">&nbsp;Pastries</label></div>
			<div><input type="checkbox" title="categorySearchTerm" class="categorySearch" id="47"><label for="47" class="categoryTerm">&nbsp;Pizza</label></div>
			<div><input type="checkbox" title="categorySearchTerm" class="categorySearch" id="48"><label for="48" class="categoryTerm">&nbsp;Pho</label></div>
			<div><input type="checkbox" title="categorySearchTerm" class="categorySearch" id="49"><label for="49" class="categoryTerm">&nbsp;Polish</label></div>
			<div><input type="checkbox" title="categorySearchTerm" class="categorySearch" id="50"><label for="50" class="categoryTerm">&nbsp;Russian</label></div>
			<div><input type="checkbox" title="categorySearchTerm" class="categorySearch" id="51"><label for="51" class="categoryTerm">&nbsp;Salad</label></div>
		</div>
		<div class="col-md-3 categoryBG">
			<div><input type="checkbox" title="categorySearchTerm" class="categorySearch" id="52"><label for="52" class="categoryTerm">&nbsp;Sandwiches</label></div>
			<div><input type="checkbox" title="categorySearchTerm" class="categorySearch" id="53"><label for="53" class="categoryTerm">&nbsp;Shaved Ice</label></div>
			<div><input type="checkbox" title="categorySearchTerm" class="categorySearch" id="54"><label for="54" class="categoryTerm">&nbsp;Shawarma</label></div>
			<div><input type="checkbox" title="categorySearchTerm" class="categorySearch" id="55"><label for="55" class="categoryTerm">&nbsp;Smoothies</label></div>
			<div><input type="checkbox" title="categorySearchTerm" class="categorySearch" id="56"><label for="56" class="categoryTerm">&nbsp;Snacks</label></div>
			<div><input type="checkbox" title="categorySearchTerm" class="categorySearch" id="57"><label for="57" class="categoryTerm">&nbsp;Soul Food</label></div>
			<div><input type="checkbox" title="categorySearchTerm" class="categorySearch" id="58"><label for="58" class="categoryTerm">&nbsp;South American</label></div>
			<div><input type="checkbox" title="categorySearchTerm" class="categorySearch" id="59"><label for="59" class="categoryTerm">&nbsp;Soup</label></div>
			<div><input type="checkbox" title="categorySearchTerm" class="categorySearch" id="60"><label for="60" class="categoryTerm">&nbsp;Southern</label></div>
			<div><input type="checkbox" title="categorySearchTerm" class="categorySearch" id="61"><label for="61" class="categoryTerm">&nbsp;Spanish</label></div>
			<div><input type="checkbox" title="categorySearchTerm" class="categorySearch" id="62"><label for="62" class="categoryTerm">&nbsp;Specialty</label></div>
			<div><input type="checkbox" title="categorySearchTerm" class="categorySearch" id="64"><label for="64" class="categoryTerm">&nbsp;Tacos</label></div>
			<div><input type="checkbox" title="categorySearchTerm" class="categorySearch" id="65"><label for="65" class="categoryTerm">&nbsp;Turkish</label></div>
			<div><input type="checkbox" title="categorySearchTerm" class="categorySearch" id="66"><label for="66" class="categoryTerm">&nbsp;Vegan</label></div>
			<div><input type="checkbox" title="categorySearchTerm" class="categorySearch" id="67"><label for="67" class="categoryTerm">&nbsp;Vegetarian</label></div>
			<div><input type="checkbox" title="categorySearchTerm" class="categorySearch" id="68"><label for="68" class="categoryTerm">&nbsp;Vietnamese</label></div>
			<div><input type="checkbox" title="categorySearchTerm" class="categorySearch" id="69"><label for="69" class="categoryTerm">&nbsp;Waffles</label></div>
		</div>
	</div>
</div>
</form>