<nav class="navbar navbar-expand fixed-top">
	<a class="navbar-brand" id="fullSizeTitle" href="#"><span class="brandText">Food<span class="spaceToggle">&nbsp;</span>Truck<span class="spaceToggle">&nbsp;</span>Found</span></a>
	<img id="navLogo" src="../../../../images/FoodTruckFlag.png">
	<div class="ml-auto" id="navbarSupportedContent">
		<ul class="navbar-nav ml-auto">
			<!--CATEGORY SEARCH-->
			<li class="nav-item">
				<a class="nav-link navTopLevel pushDown" routerLink="/categories" role="button">Food Types</a>
				<!--<div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">-->
					<!--<button class="btn categoryButton" type="submit">Find Trucks</button>-->
					<!--<div *ngFor="let category of categories" class="dropdown-item"><input type="checkbox" title="categorySearchTerm" class="categorySearch" id="category{{category.categoryId}}"><label for="category{{category.categoryId}}" class="categoryTerm">&nbsp;{{category.categoryName}}</label></div>-->
				<!--</div>-->
			</li>
			<!--USERS-->
			<li class="nav-item dropdown">
				<a class="nav-link navTopLevel" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-user navUserIcon fa-lg"></i></a>
				<div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
					<div class="dropdown-item" ><a routerLink="/favorites" class="userText"><i class="far fa-star"></i>&nbsp;Favorites</a></div>
					<div class="dropdown-item" ><a routerLink="/sign-up" class="userText"><i class="fas fa-user-plus"></i>&nbsp;Sign Up</a></div>
					<div class="dropdown-item" ><a routerLink="/sign-in" class="userText"><i class="fas fa-sign-in-alt"></i>&nbsp;Sign In</a></div>
					<div class="dropdown-item" ><a  class="userText"><i  (click)="signOut" class="fas fa-sign-out-alt"></i>&nbsp;Sign Out</a></div>
				</div>
			</li>
		</ul>
	</div>
</nav>
