<div class="nav-item dropdown ml-auto">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Food Types</a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <button class="btn categoryButton" type="submit">Find Trucks</button>

        <!--							todo Angular insert categories into list of checkboxes-->
        <div class="dropdown-item"><input type="checkbox" title="categorySearchTerm" class="categorySearch" *ngFor="let category of categories" id="{{category.categoryName}}" name="{{category.categoryName}}">{{category.categoryName}}</div>

    </div>
</div>