<navbar></navbar>
<div class="truck-display">
    <div class="container contact">
        <h1 class="truck-title">{{truck.truckName}}</h1>
        <p class="truck-text"><i class="fas fa-check fa-lg"></i>{{truck.truckIsOpen | open }}</p>
        <p class="truck-text">{{truck.truckPhone}}</p>
        <p class="truck-text"><a href="{{truck.truckUrl}}" class="truck-url-link">{{truck.truckUrl}}</a></p>
    </div>
    <div class="container bio">
        <div class="Aligner">
            <div class="Aligner-item">
                <p class="truck-text">{{truck.truckBio}}</p>
                <!--<p><strong>#</strong>{{truck}}<strong></p>-->
            </div>
        </div>
    </div>

    <!--favorite-->
    <div class="container">
        <div class="Aligner-item--bottom">

            <!--create a favorite if it does not exist-->
            <button *ngIf="favorite === null " type="button" class="btn btn-outline-warning" (click)="createFavorite()">
                <i class="fas fa-star fa-lg"></i></button>

            <!--delete favorite if it exists-->
            <button *ngIf="favorite !== null" type="button" class="btn btn-outline-warning" (click)="deleteFavorite()">
                <i class="far fa-star fa-lg"></i></button>

            <!--votes-->
            <button type="button" class="btn btn-outline-warning" (click)="createVote(1)"><i class="fas fa-arrow-alt-circle-up fa-lg"></i>{{ truckVote.upVote }}</button>
            <button type="button" class="btn btn-outline-warning" (click)="createVote(-1)"><i class="fas fa-arrow-alt-circle-down fa-lg"></i>{{ truckVote.downVote }} </button>
        </div>
    </div>
</div>

<!--form-->
<div id="edit-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4>Edit Your Truck's Profile</h4>
            </div>
            <div class="modal-body">



                <form class="form-horizontal" role="form" id="contact-me" method="post" action="">

                    <div class="form-group">
                        <label for="editPhone" class="col-sm-2 control-label">Edit Phone Number</label>
                        <div class="col-sm-10">
                            <input type="text" name="editphone" id="editPhone" placeholder="New Phone Number">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="editUrl" class="col-sm-2 control-label">Edit Your Business' Website URL</label>
                        <div class="col-sm-10">
                            <input type="url" name="editUrl" id="editUrl" placeholder="example@domain.com">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="editBio" class="col-sm-2 control-label">Edit the description of your business/foodtruck</label>
                        <div class="col-sm-10">
                            <textarea name="" id="editBio" placeholder="A story about princesses and mushrooms in the Mario World..."></textarea>
                        </div>
                    </div>

                    <div class="g-recaptcha" data-sitekey="6LdEaVwUAAAAAIc5peS7onDxa1W8zSZhrSr0x9PH"></div>
                    <button class="btn btn-info" type="submit">Submit</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </form>

                <div id="output-area"></div>

            </div>
        </div>
    </div>
</div>

<footer></footer>