<navbar></navbar>
<div class="body">
    <div class="container contact">
        <h1>{{truck.truckName}}</h1>
<!--edit truck name-->
        <button *ngIf="isOwner === 1" type="button" class="btn btn-outline-warning" (click)="edit()"></button>
            <i class="fas fa-pencil-alt"></i>Edit


        <p id="phone">{{truck.truckPhone}}</p>
        <p id="url">{{truck.truckUrl}}</p>
        <p id="open"><i class="fas fa-check fa-lg"></i>{{truck.truckIsOpen | open }}</p>
    </div>
    <div class="container bio">
        <div class="Aligner">
            <div class="Aligner-item">
                <p>{{truck.truckBio}}</p>
                <!--<p><strong>#</strong>{{truck}}<strong></p>-->
            </div>
        </div>
    </div>

<!--favorite-->
    <div class="Aligner-item--bottom">

<!--create a favorite if it does not exist-->
        <button *ngIf="favorite === null " type="button" class="btn btn-outline-warning" (click)="createFavorite()">
            <i class="fas fa-star fa-lg"></i></button>

<!--delete favorite if it exists-->
        <button *ngIf="favorite !== null" type="button" class="btn btn-outline-warning" (click)="deleteFavorite()">
            <i class="far fa-star fa-lg"></i></button>

<!--votes-->
        <button type="button" class="btn btn-outline-warning" (click)="createVote(1)"><i class="fas fa-arrow-alt-circle-up fa-lg"></i>{{ truckVote.upVote }}</button>
        <button type="button" class="btn btn-outline-warning" (click)="createVote(-1)"><i class="fas fa-arrow-alt-circle-down fa-lg"></i>{{ truckVote.downVote }} </button>
    </div>
</div>
<footer></footer>