<navbar></navbar>
<div class="body">
    <div class="container contact">
        <h1>{{truck.truckName}}</h1>
        <p id="phone">{{truck.truckPhone}}</p>
        <p id="url">{{truck.truckUrl}}</p>
        <p id="open"><i class="fas fa-check fa-lg"></i>{{truck.truckIsOpen | open }}</p>
    </div>
    <div class="container bio">
        <div class="Aligner">
            <div class="Aligner-item">
                <p>{{truck.truckBio}}</p>
                <!--<p><strong>#</strong>{{truck}}<strong></p>-->
            </div>
        </div>
    </div>
    <div class="container actions">
        <div class="Aligner">
            <div class="Aligner-item--bottom">
                <button type="button" class="btn btn-outline-warning"><i class="fas fa-star fa-lg"></i> Favorite</button>
                <button type="button" class="btn btn-outline-warning"><i class="fas fa-arrow-alt-circle-up fa-lg"></i> 18</button>
                <button type="button" class="btn btn-outline-warning"><i class="fas fa-arrow-alt-circle-down fa-lg"></i> 1</button>
                <!--Alt. font-awesome icons for votes-->
                <button type="button" class="btn btn-outline-warning"><i class="fas fa-angle-up fa-lg"></i>18</button>
                <button type="button" class="btn btn-outline-warning"><i class="fas fa-angle-down fa-lg"></i> 1</button>
            </div>
        </div>
    </div>
</div>
<footer></footer>