<h1>Sign-up with us!</h1>

		<form [formGroup]="signUpForm" (ngSubmit)="createProfile();" novalidate >
    			<div class="form-group">
    				First Name <br>
    				<input type="text" name="firstname" placeholder="Juan" formControlName="profileFirstName">
    			</div>
    			<div class="form-group">
    				Last Name <br>
    				<input type="text" name="lastname" placeholder="Smith" formControlName="profileLastName">
    			</div>
    			<div class="form-group">
    				Username <br>
    				<input type="text" name="username" placeholder="jsmith01" formControlName="profileUserName">
    			</div>
    			<div class="form-group">
    				Email Address <br>
    				<input type="text" name="email" placeholder="your-email-address@domain.com" formControlName="profileEmail">
    			</div>
    			<div class="form-group">
    				Password <br>
    				<input type="password" name="password" placeholder="secure" formControlName="profilePassword">
    			</div>
    			<div class="form-group">
    				Confirm Password <br>
    				<input type="password" name="confirmpassword" placeholder="secure" formControlName="profilePasswordConfirm">
    			</div>
				<button type="submit" class="btn btn-block btn-warning mb-3">Submit</button>
        </form>
