
<div class="container">
	<div class="mx-auto">
		<h1 class="sign-up-title">Sign up with us!</h1>

		<form [formGroup]="signUpForm" (ngSubmit)="createSignUp();" novalidate>


			<!--First name-->
			<div class="form-group">
				<label for="sign-up-first-name" class="sign-up-text">First Name</label>
				<input id="sign-up-first-name" class="sign-up-input" type="text" name="firstname"
						 formControlName="profileFirstName" >
			</div>
			<div
				*ngIf="signUpForm.controls.profileFirstName?.invalid && signUpForm.controls.profileFirstName?.touched"
				class="alert alert-danger signUpAlert" role="alert">
				<p *ngIf="signUpForm.controls.profileFirstName?.errors.required">First name is required.</p>
				<p *ngIf="signUpForm.controls.profileFirstName?.errors.maxlength">First name is too long</p>
			</div>

			<!--Last name-->
			<div class="form-group">
				<label for="sign-up-last-name" class="sign-up-text">Last Name</label>
				<input id="sign-up-last-name" class="sign-up-input" type="text" name="lastname"
						 formControlName="profileLastName">
			</div>
			<div
				*ngIf="signUpForm.controls.profileLastName?.invalid && signUpForm.controls.profileLastName?.touched"
				class="alert alert-danger signUpAlert" role="alert">
				<p *ngIf="signUpForm.controls.profileLastName?.errors.required">Last name is required.</p>
				<p *ngIf="signUpForm.controls.profileLastName?.errors.maxlength">Last name is too long</p>
			</div>


			<!--Username-->
			<div class="form-group">
				<label for="sign-up-username" class="sign-up-text">Username</label>
				<input id="sign-up-username" class="sign-up-input" type="text" name="username"
						 formControlName="profileUserName">
			</div>
			<div
				*ngIf="signUpForm.controls.profileUserName?.invalid && signUpForm.controls.profileUserName?.touched"
				class="alert alert-danger signUpAlert" role="alert">
				<p *ngIf="signUpForm.controls.profileUserName?.errors.required">Profile username is required.</p>
				<p *ngIf="signUpForm.controls.profileUserName?.errors.maxlength">Profile username is too long</p>
			</div>


			<!--Email address-->
			<div class="form-group">
				<label for="sign-up-email" class="sign-up-text">Email Address</label>
				<input id="sign-up-email" class="sign-up-input" type="text" name="email"
						 formControlName="profileEmail">
			</div>
			<div
				*ngIf="signUpForm.controls.profileEmail?.invalid && signUpForm.controls.profileEmail?.touched"
				class="alert alert-danger signUpAlert" role="alert">
				<p *ngIf="signUpForm.controls.profileEmail?.errors.required">Email is required.</p>
				<p *ngIf="signUpForm.controls.profileEmail?.errors.email">Email username is too long</p>
			</div>


			<!--Password-->
			<div class="form-group">
				<label for="sign-up-password" class="sign-up-text">Password</label>
				<input id="sign-up-password" class="sign-up-input" type="password" name="password"
						 formControlName="profilePassword">
			</div>
			<div
				*ngIf="signUpForm.controls.profilePassword?.invalid && signUpForm.controls.profilePassword?.touched"
				class="alert alert-danger signUpAlert" role="alert">
				<p *ngIf="signUpForm.controls.profilePassword?.errors.required">Password is required.</p>
				<p *ngIf="signUpForm.controls.profilePassword?.errors.maxlength">Password username is too long</p>
			</div>


			<!--Confirm password-->
			<div class="form-group">
				<label for="sign-up-confirm-password" class="sign-up-text">Confirm Password</label>
				<input id="sign-up-confirm-password" class="sign-up-input" type="password" name="confirmpassword"
						 formControlName="profilePasswordConfirm">
			</div>
			<div
				*ngIf="signUpForm.controls.profilePasswordConfirm?.invalid && signUpForm.controls.profilePasswordConfirm?.touched"
				class="alert alert-danger signUpAlert" role="alert">
				<p *ngIf="signUpForm.controls.profilePasswordConfirm?.errors.required">Password is required.</p>
				<p *ngIf="signUpForm.controls.profilePasswordConfirm?.errors.maxlength">Password username is too long</p>
			</div>

			<!--button-->
			<button type="submit" class="btn btn-block btn-warning mb-3 signUpSubmit">Sign Up</button>
		</form>
	</div>
	<div class="formSpacer"></div>
</div>