<form [formGroup]="newTruckForm" (ngSubmit)="createNewTruckForm();">
	<div class="form-group">
		(TruckBio)<br>
		<input type="text" name="truckbio" placeholder="A brief description of your business/foodtruck" formControlName="truckBio">
	</div>
	<div class="form-group">
		(TruckName)<br>
		<input type="text" name="truckname" placeholder="Name of your business/foodtruck" formControlName="truckName">
	</div>
	<div class="form-group">
		(TruckPhone)<br>
		<input type="text" name="truckphone" placeholder="xxx-xxx-xxxx" formControlName="truckPhone">
	</div>
	<div class="form-group">
		(TruckUrl)<br>
		<input type="text" name="truckurl" placeholder="your-email-address@domain.com" formControlName="truckUrl">
	</div>
	<div>
		<button class="btn btn-block btn-warning mb-3" type="submit">Register your Truck!</button>
	</div>
</form>
