<form action="">
	<div class="form-group">
		First Name <br>
		<input type="text" name="firstname" placeholder="Juan">
	</div>
	<div class="form-group">
		Last Name <br>
		<input type="text" name="lastname" placeholder="Smith">
	</div>
	<div class="form-group">
		Username <br>
		<input type="text" name="username" placeholder="jsmith01">
	</div>
	<div class="form-group">
		Email Address <br>
		<input type="text" name="email" placeholder="your-email-address@domain.com">
	</div>
	<div class="form-group">
		Password <br>
		<input type="text" name="password">
	</div>
	<div class="form-group">
		Confirm Password <br>
		<input type="text" name="confirmpassword">
	</div>
</form>
