<div class="container">
	<h1 class="new-truck-title">Enter your truck into our system</h1>

	<form [formGroup]="newTruckForm" (ngSubmit)="createNewTruckForm();">
		<div class="form-group">
			<label for="truck-name" class="new-truck-text">Name of your truck</label>
			<input id="truck-name" class="new-truck-input" type="text" name="truckname" formControlName="truckName">
		</div>
		<div class="form-group">
			<label for="truck-bio" class="new-truck-text">Tell us about your truck</label>
			<textarea id="truck-bio" class="new-truck-input" rows="6" type="text" name="truckbio" placeholder="Briefly describe your business..." formControlName="truckBio"></textarea>
		</div>
		<div class="form-group">
			<label for="truck-phone" class="new-truck-text">Phone number for your truck</label>
			<input id="truck-phone" class="new-truck-input" type="text" name="truckphone" formControlName="truckPhone">
		</div>
		<div class="form-group">
			<label for="truck-url" class="new-truck-text">Your truck's website</label>
			<input id="truck-url" class="new-truck-input" type="text" name="truckurl" placeholder="Business site, YELP page, etc..." formControlName="truckUrl">
		</div>
		<div>
			<button class="btn btn-block btn-warning newTruckSubmit mb-3" type="submit">Register Your Truck!</button>
		</div>
	</form>
</div>
