.sign-in-title {
	color: #A00400;
	font-family: 'Contrail One', cursive;
	text-shadow: #D00400 0 0 2px;
	margin: 15px 0;
}

.sign-in-text {
	color: #000;
	font-family: 'Contrail One', cursive;
	font-size: 20px;
	text-shadow: #FFD042 0 0 1px;
	display: block;
	margin-bottom: 0;
}

.sign-in-input {
	background-color: #FFD042;
	color: #800400;
	font-family: 'Contrail One', cursive;
	border: 2px solid #600400;
	border-radius: 0;
	width: 30%;
	min-width: 220px;
	transition: background-color .5s;
}

.sign-in-input:focus {
	background-color: #ffe577;
}

.signInSubmit {
	width: 30%;
	min-width: 220px;
	border-radius: 0;
	font-family: 'Contrail One', cursive;
	border: 2px solid #800400;
	margin-top: 10px;
}