body {
	background: url("https://i.imgur.com/cdV6wjj.png") no-repeat center center fixed;
}

.sign-in-title {
	color: #A00400;
	font-family: 'Contrail One', cursive;
	text-shadow: #D00400 0 0 2px;
	margin-top: 15px;
}

.sign-in-text {
	color: #000;
	font-family: 'Contrail One', cursive;
	font-size: 20px;
	text-shadow: #FFD042 0 0 1px;
}

.sign-in-input {
	background-color: #FFD042;
	color: #800400;
	font-family: 'Contrail One', cursive;
	border: 2px solid #600400;
	border-radius: 0;
	width: 30%;
	min-width: 220px;
}

.signInSubmit {
	width: 30%;
	min-width: 220px;
	border-radius: 0;
	font-family: 'Contrail One', cursive;
	border: 2px solid #800400;
	margin-top: 10px;
}