body {
	background: url("https://i.imgur.com/cdV6wjj.png") no-repeat center center fixed;
}

h1.sign-up-title {
	color: #A00400;
	font-family: 'Contrail One', cursive;
	text-shadow: #D00400 0 0 2px;
	margin: 15px 0;
}

label.sign-up-text {
	color: #000;
	font-family: 'Contrail One', cursive;
	font-size: 20px;
	text-shadow: #FFD042 0 0 1px;
	display: block;
	margin-bottom: 0;
}

input.sign-up-input {
	background-color: #FFD042;
	color: #800400;
	font-family: 'Contrail One', cursive;
	border: 2px solid #600400;
	border-radius: 0;
	width: 30%;
	min-width: 220px;
	transition: background-color .5s;
}

input.sign-up-input:focus {
	background-color: #ffe577;
}

.signUpAlert {
	width: 30%;
	min-width: 220px;
	border-radius: 0;
	font-family: 'Contrail One', cursive;
}

.signUpSubmit {
	width: 30%;
	min-width: 220px;
	border-radius: 0;
	font-family: 'Contrail One', cursive;
	border: 2px solid #600400;
	margin-top: 15px;
}