.body-about {
	background-color: #A00400;
}

.centered {
	/*position: absolute;*/
	top: 50%;
	left: 50%;
	transform: translate(10%, 10%);
}

.fixed {
	position: fixed;
}

.container {
	display: inline-block;
}



.background-card {
	background-color: #FFD042;
	border: 2px solid #000000;
	/*border-top: 2px solid #000000;*/
	/*border-right: 2px solid #000000;*/
	/*border-bottom: 2px solid #000000;*/
	/*border-left: 2px solid #000000;*/
}

.background-card-img {
	border: 2px solid #000000;
	/*border-top: 2px solid #000000;*/
	/*border-right: 2px solid #000000;*/
	/*border-bottom: 2px solid #000000;*/
	/*border-left: 2px solid #000000;*/
}

.card-body2 {

}

h1 {
	color: #A00400;
	font-family: 'Contrail One', cursive;
}

.row{
	height: 62%;
}

.card-title {
	font-family: 'Contrail One', cursive;
	color: #FFD042;
}

.card-title2 {
	font-family: 'Contrail One', cursive;
	color: #A00400;
	font-size: 20px;
	text-shadow: #FFD042 0 0 10px;
	/*text-shadow: black 0 0 10px;*/
}

.card-text {
	font-family: 'Contrail One', cursive;
	color: #A00400;
	font-size: 20px;
	/*text-shadow: black 0 0 10px;*/
}

.button {
	font-family: 'Contrail One', cursive;
	color: #FFD042;
	font-size: 19px;
	text-shadow: black 0 0 10px;
}

.button:hover {

}