.centered {
	/*position: absolute;*/
	top: 50%;
	left: 50%;
	transform: translate(20%, 20%);
}

.fixed {
	position: fixed;
}

.container {
	display: inline-block;
}



.background-card {
	background-color: #FFD042;
	border: 2px solid #000000;
	/*border-top: 2px solid #000000;*/
	/*border-right: 2px solid #000000;*/
	/*border-bottom: 2px solid #000000;*/
	/*border-left: 2px solid #000000;*/
}

.background-card-img {
	border-top: 2px solid #000000;
	border-right: 2px solid #000000;
	border-bottom: 2px solid #000000;
	border-left: 2px solid #000000;
}

.card-body2 {

}

h1 {
	color: #A00400;
	font-family: 'Contrail One', cursive;
}


.row{
	height: 62%;
}