

nav {
	background-color: #A00400;
	border-bottom: 5px solid #600400;
}

#navLogo {
	width: 8vw;
	margin: 0 0 0 10px;
}

a#fullSizeTitle {
	margin-right: 0;
}

.brandText {
	color: #FFD042;
	font-size: 25px;
	font-family: 'Contrail One', cursive;
	text-shadow: black 0 0 5px;
	transition: color .5s;
	transition-timing-function: ease-out;
}

.brandText:hover, .brandText:focus, .brandText:active {
	color: #ffe577;
}

.dropdown-toggle {
	color: #FFD042;
}

.dropdown-menu {
	margin-right: 20px;
	background-color: #A00400;
	border-radius: 0;
}

.categoryButton {
	border: 1px solid #600400;
	border-radius: 0;
	background-color: #FFD042;
	color: #A00400;
	margin: 0 auto;
}

.categorySearch {
	color: #FFD042;
}

.nav-link {
	color: #FFD042;
	font-size: 25px;
	font-family: 'Contrail One', cursive;
	text-shadow: black 0 0 5px;
	transition: color .5s;
	transition-timing-function: ease-out;
}

.nav-link:hover, .nav-link:active, .nav-link:focus {
	color: #FFD042;

}

.fa-user {
	font-size: 25px;
	padding: 4px 6px;
	border: 2px solid #FFD042;
	border-radius: 4px;
	margin-right: .5vw;
}

.sessionHide {
	display: none;
}

@media screen and (min-width: 850px) /* Desktop */ {
	img#navLogo {
		width: 67px;
	}
	body{
		background-color: #A00400;
	}
}

@media screen and (max-width: 700px) /* Tablet */ {
	img#navLogo {
		width: 50px;
	}
}

/*@media screen and (max-width: 500px) !* Mobile *! {*/
	/*.navLogo {*/
	/*}*/
/*}*/


