nav {
	background-color: #A00400;
}

#navLogo {
	width: 30vw;
}

a#fullSizeTitle {
	margin-right: 0;
}

.navbar-brand:hover, .navbar-brand:focus, .navbar-brand:active {
	color: #FFD042;
}

.dropdown-toggle {
	color: #FFD042;
}

.nav-link {
	color: #FFD042;
	font-size: 25px;
	font-family: 'Contrail One', cursive;
	text-shadow: black 0 0 5px;
	transition: color .5s;
	transition-timing-function: ease-out;
}

.nav-link:hover, .nav-link:active, .nav-link:focus {
	color: #FFD042;

}

.fa-user {
	font-size: 25px;
	padding: 4px 6px;
	border: 2px solid #FFD042;
	border-radius: 4px;
	margin-right: .5vw;
}

.fa-search {
	font-size: 25px;
}

.searchContain {
	display: inline-block;
}

.userSearch {
	background-color: #FFD042;
	color: #800400;
	font-family: 'Contrail One', cursive;

	outline-style: none;
	transition: background-color .5s;
	transition-timing-function: ease-out;
	display: inline-block;
}

.userSearch:active, .userSearch:focus {
	background-color: #FFDC75;
	color: #800400;
	outline-style: none;
}

.submitSearch {
	color: #FFD042;
	background-color: #800400;
	border: 2px solid #FFD042;
	border-radius: 4px;
	padding: 3px 5px;
}

