<div class="centered">
	<h1 class="text-favorite2">My Favorites</h1>
	<div class="alignLeft">
		<ul id="bullets">
			<!---------------------------WORKING LINK--------------------------->
			<!----<li><i class="fas fa-star"></i><a href="#">Marios</a></li>---->
			<!--todo PUT IN HREF #-->
			<li>
				<span *ngFor="let favorite of favorites">
					<a class="text-favorite font-scale" href="#"><i class="fas fa-star"></i></a>
				<a class="text-favorite" href="#"> {{favorite.favoriteTruckName}}</a>
				</span>


			</li>

		</ul>
	</div>
</div>