<div class="row no-gutters">
	<div class="searchContain col-md-6 no-gutters">

		<form class="form-inline">
			<input class="form-control userSearch" type="search" placeholder="Search" aria-label="Search">
			<button class="submitSearch" type="submit"><i class="fas fa-search"></i></button>
		</form>
	</div>
	<div class="col-md-5 no-gutters">
		<p class="info-caption">Currently Open Food Trucks</p>
	</div>
</div>


<ngui-map class="map-scale" zoom="14">
	<marker *ngFor="let truck of trucks" [position]="[truck.truckLatitude, truck.truckLongitude]" (click)="showSidePanel(truck)"></marker>
</ngui-map>

<div *ngIf="detailedTruck.truckId !== null" >

	<h1 class="rounded-top">{{detailedTruck.truckName}}</h1>

	<button class="btn btn-block" (click)="goToTruck(detailedTruck.truckId)">Go to Page</button>

</div>

